html{
    scroll-behavior: smooth;
}


h1{
    color:#EEDB00;
    text-align: center;
    font-family: starWarsOpen;
    font-size: 60px;
}

p{
    color:#EEDB00;
    font-size: larger;
    text-align: center;
}

a:link, a:visited {
    color: white;
}

body{
    background-image: url("pictures/starfield.jpg");
}

.centertext{
    text-align: center;
}

#navbar ul{
    background-color: black;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;

}

#navbar ul li{
    display: inline;
}

#navbar ul li a{
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    background-color: black;
    color: #EEDB00;
}

@font-face {
    font-family: starWarsOpen;
    src: url(Starjhol.ttf);
}

.servicePic1 {
    width: 480px;
    height: 320px;

}

.servicePic2 {
    width: 480px;
    height: 320px;
    padding-right: 200px;
    float: right;
}
.abtMe{
    width:334px;
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons{
    width: 50px;
    height: 50px;
}

.icon-bar {
    width: 100%; 
    background-color: #555; 
    overflow: auto; 
  }
  
  .icon-bar a {
    float: left; 
    text-align: center;
    width: 25%; 
    padding: 12px 0;
    transition: all 0.3s ease; 
    color: black;
    font-size: 30px;
  }
  
  .icon-bar a:hover {
    background-color: #1e90ff;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .resume{
    width: 1275px;
    height: 1650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .actionTracker{
    width: 1425px;
    height: 702px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }